<!-- reference for about and css: https://www.w3schools.com/howto/howto_css_about_page.asp -->

<div class="about-section">
  <h1>About Us Page</h1>
  <p>
    The purpose of the DiscDex is to have a single library with all PGDA
    approved discs for players to use and reference.
  </p>
  <p></p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="https://avatars.githubusercontent.com/u/90585727?v=4"
        alt="Eric"
        style="width: 100%"
      />
      <div class="container">
        <h2>Eric Klomp</h2>
        <p class="title">Team Member</p>
        <p>Favorite Disc: Star Wraith</p>
        <p>edk22@calvin.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="https://avatars.githubusercontent.com/u/90846531?v=4"
        alt="John"
        style="width: 100%"
      />
      <div class="container">
        <h2>John White</h2>
        <p class="title">Team Member</p>
        <p>Favorite Disc: Creator Series Cloud Breaker</p>
        <p>jmw75@calvin.edu</p>
      </div>
    </div>
  </div>
</div>

<div class="about-section-2">
  <h1>Disc Golf Terminology Library</h1>
  <hr />
  <div class="definition">
    <b>Overstable:</b> when released flat, a disc has a tendency to fly left.
    When thrown RHBH, the flight characteristic of a disc that is an
    exaggeration of the discs natural spin. The disc naturally wants to fly
    straight at high speeds and wants to fade left during the end of the flight
    as it slows down. More specifically the overstable quality is most easily
    observed by the degree to which a disc resists “high speed turn.” Even at
    high speeds, an overstable disc won’t turnover to the right. But even in a
    headwind, an overstable disc will hold its line and want to fade left at the
    end of the flight. Overstable discs are designed to be thrown at high
    speeds.
  </div>
  <div class="definition">
    <b>Understable:</b> (disc/flight reference) when released flat, a disc has a
    tendency to fly right. (When thrown the right arm and backhanded)
  </div>
  <div class="definition">
    <b>Flight Numbers:</b> How the disc is designed to fly. The most common
    measurement is the four-number flight system representing the disc’s speed,
    glide, high-speed stability (turn), and low-speed stability (fade).
  </div>
  <div class="definition">
    <b>Speed:</b> The first number of the common four-number flight rating of a
    disc. The relative speed a disc must be thrown to achieve its intended
    flight.
  </div>
  <div class="definition">
    <b>Glide:</b> How the disc is designed to fly. The most common measurement
    is the four-number flight system representing the disc’s speed, glide,
    high-speed stability (turn), and low-speed stability (fade). .
  </div>
  <div class="definition">
    <b>Turn:</b> The third number of the common four-number flight rating of a
    disc. Refers to how far the disc drifts to the right (RHBH throw) during the
    first part of its flight.
  </div>
  <div class="definition">
    <b>Fade:</b> During the slower portion of the flight, a disc will naturally
    turn left (for a person throwing RHBH).
  </div>
  <div class="definition">
    <b>Distance Driver:</b> Golf discs with the thickest rims that have the most
    potential to go far.
  </div>
  <div class="definition">
    <b>Fairway Driver:</b> A Fairway Driver disc is a driver disc designed for
    flight speeds faster than a mid-range and yet slower (and more stable) than
    a normal “high speed” driver.
  </div>
  <div class="definition">
    <b>Mid-range:</b> A medium range disc intended more for accuracy and control
    on drives and/or approach shots.
  </div>
  <div class="definition">
    <b>Putter:</b> Putters or Putt and Approach discs are designed for
    short-distance and stable flight. Usually used within the circle.
  </div>
  <div class="definitionRef">
    <a
      target="_blank"
      href="https://discgolfnow.com/disc-golf-terminology-guide/"
      >Definition references</a
    >
  </div>
</div>
