<!--   <img
      src="https://i5.walmartimages.com/asr/b6da7080-5db5-4af1-a8b9-283da4659968_1.66bd39e1db50f894735bc3e57ab4aeaa.png"
      alt="Avatar"
    /> -->
<html>

<head>
</head>

<body>
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="&#61442; Start searching for Discs!!">
  </div>
  <span *ngFor="let d of disc$ | filter:searchText">
    <button class="btn fourth" (click)="
        openDialog(
          d.name,
          d.speed,
          d.glide,
          d.turn,
          d.fade,
          d.brand,
          d.stability,
          d.category,
          d.pic
        )
      ">
      {{ d.name }}
    </button>
  </span>
</body>

</html>